@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@font-face {
  font-family: "Museo Cyrl 700";
  src: url("./fonts/MuseoSansCyrl/MuseoSansCyrl700/MuseoSansCyrl700.otf")
    format("opentype");
}

@font-face {
  font-family: "Museo Cyrl 900";
  src: url("./fonts/MuseoSansCyrl/MuseoSansCyrl900/MuseoSansCyrl900.otf")
    format("opentype");
}
