@media (min-width: 320px) {
  .container {
    width: 320px;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .header,
  .footer {
    .menu__phone,
    .menu__contacts,
    .menu__clock-work {
      display: none;
    }
  }
  .header,
  .footer {
    .menu__inner {
      .menu__phone {
        display: flex;
      }
      .menu__contacts,
      .menu__clock-work {
        display: block;
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
  .header,
  .footer {
    .menu__inner {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .main-section__link {
    max-width: 33.333333%;
  }
}

@media (max-width: 991px) {
  .main-section__link {
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }
  .nav {
    .nav__wrapper {
      display: none;
    }
    .burger {
      display: flex;
    }
  }

  .nav__wrapper.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    background-color: #fff;
    top: 0;
    left: 0;
    animation: burgerAnimation 0.4s;
    overflow-y: hidden;
  }
  .menu {
    .menu__wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
      padding-bottom: 10px;
    }
  }
  .card__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    .card {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .about-company__wrap {
    flex-direction: column;
  }
  .about-company__left {
    width: 100%;
    padding-left: 0px;
  }
  .about-company__right {
    width: 100%;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .menu__inner {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .contacts__inner {
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
  }
  .contacts__email {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main-section__link {
    max-width: 100%;
  }
  .main .carousel__inner .carousel__text-big {
    font-size: 9vw;
  }
  .main .carousel__inner .carousel__text,
  .main .carousel__inner .carousel__text-small {
    font-size: 6vw;
  }
  .card__wrapper {
    .card {
      width: 100%;
    }
  }
}
