@import "./variables.scss";
.menu {
  background: #ffffff;
  font-weight: 500;
  &__logo {
    vertical-align: middle;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    padding-left: 16px;
    padding-right: 16px;
    &-number {
      position: relative;
      padding-left: 45px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 41px;
        height: 35px;
        background: url("./icons/phone.svg");
      }
    }
    &-text {
      color: $orange;
      &::before {
        content: "";
        display: inline-block;
        padding-left: 10px;
        width: 41px;
        height: 22px;
      }
    }
  }
  &__contacts {
    margin-right: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__map {
    display: block;
    text-align: center;
    margin-right: 24px;
  }
  &__clock-work {
    padding-left: 16px;
    padding-right: 16px;
  }
}
