@import "abstracts/variables";
@import "base/reset";
@import "base/base";
@import "base/utilities";

@import "fonts";

@import "components/burger";

@import "layout/header";
@import "layout/main";
@import "layout/menu";
@import "layout/nav";

@import "pages/contacts";
@import "pages/installment";
@import "pages/prices";
@import "pages/reviews";
@import "pages/tariffs";

@import "media";

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.cards {
  padding-bottom: 26.25px;
  &__title {
    text-align: center;
    font-size: 40px;
    font-family: $font-museo700;
  }
}

.card {
  padding: 0px 25px;
  img {
    max-width: 100%;
  }
  &__wrapper {
    display: flex;
  }
  &__description {
    background: #fff;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    bottom: 3px;
  }
  &__subtitle {
    text-align: center;
    font-family: $font-museo700;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b2b2b2;
  }
  &__price-wrapper {
    text-align: center;
  }
  &__price-old {
    text-decoration: line-through;
  }
  &__order {
    margin: 0 auto;
    background: #ff5f00;
    border: none;
    width: 98px;
    height: 42px;
    text-transform: uppercase;
    &:hover {
      transition: opacity 0.8s;
      opacity: 0.8;
    }
  }
}

.about-company {
  padding-bottom: 45px;
  &__title {
    text-align: center;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
  &__left {
    width: 45.84%;
    padding-left: 24px;
  }
  &__right {
    background: #d9d9d9;
    padding: 20px 50px;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 24px;
    &-subtitle {
      font-family: $font-museo700;
    }
  }
  &__description {
    margin-bottom: 16px;
  }
  &__title {
    font-size: 38px;
    font-family: $font-museo700;
    margin-bottom: 16px;
  }
}

/* Страница Кабриолеты */

.pad-bot {
  padding-bottom: 45px;
}

.cars {
  padding-top: 25px;
  h1 {
    text-align: center;
    font-family: $font-museo700;
    font-size: 48px;
  }
  h2 {
    text-align: center;
    font-family: $font-museo700;
    font-size: 40px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.breadcrumb {
  padding-top: 16px;
}

.breadcrumb-item {
  display: inline;
  font-size: 18px;
}

.breadcrumb a + a::before {
  padding: 8px;
  color: black;
  content: ">>";
}

.orangered {
  color: #ff5f00;
}

.orange-bg {
  background: url(./img/orange-bg.jpg) no-repeat center center;
  padding: 20px 0;
  margin: 0 25px;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }
  &__row {
    text-align: center;
  }
  &__title {
    font-size: 42px;
    font-family: $font-museo700;
    line-height: 50px;
    margin-bottom: 24px;
    color: #fff;
  }
}
