/* Страница Рассрочка */
.installment {
  &__title {
    text-align: center;
    font-size: 48px;
    padding-bottom: 36px;
  }
  &__text {
    line-height: 1.5;
    padding: 0px 25px;
    font-family: "Open Sans";
  }
  .breadcrumb {
    padding-top: 25px;
  }
}
