// Цвет шапки
$header-color: #ffa500;

// Основной цвет секции main__service
$main__service-item_color: #165dc8;
$white-color: #fff;
$nav-color: #ff5f00;

//Основные шрифты сайта (после header)
$font-museo700: "Museo Cyrl 700";
$font-museo900: "Museo Cyrl 900";
